{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- bookings.html content starts here -->
{% if bookings %}
        <ul>
            {% for booking in bookings %}
            <li>
                <h2>{{ booking.event.title }}</h2>
                <p><strong>Date:</strong> {{ booking.event.date }}</p> 
                <p><strong>Time:</strong> {{ booking.event.time }}</p>
                <p><strong>Venue:</strong> {{ booking.event.venue }}</p>
                <p><strong>Description:</strong> {{ booking.event.description }}</p>
                <p><strong>Capacity:</strong> {{ booking.event.capacity }}</p>
                <p><strong>Price:</strong> ${{ booking.event.price }}</p>
                <p><strong>Number of Tickets:</strong> {{ booking.number_of_tickets }}</p>
                <p><strong>Booking Date:</strong> {{ booking.booking_date }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No upcoming bookings.</p>
        {% endif %}

<!-- bookings.html content ends here -->
{% endblock %}