body {
    background-color: #f9fafc;
}

/* Keep footer pinned to bottom of window */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Used for navbar in "Harmonia Hall" logo */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4a4a4f;
}

/* Applied to the footer element */
.dark-bg {
    background-color: #25484e;
}

/* Remove underline from event title in card */
.card-title a {
    text-decoration: none;
}

/* underline title on hover */
.card-title a:hover {
    text-decoration: underline;
}

/* Add gap between conatiner for forms and footer */
.container {
    margin-bottom: 5rem;
}

/* Center auth forms (login, signup, password reset, etc.) */
.container form {
    max-width: 500px;
    margin: 0 auto;
}

/* Center form buttons */
.container form button,
.container form .btn {
    display: inline-block;
    margin: 0.5rem auto;
    min-width: 150px;
}

.light-bg {
    background-color: #fff;
}

.main-bg {
    background-color: #f9fafc;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #e84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23bbbb;
}

.link {
    color: #23bbbb;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #e84610;
}

.btn-like:hover,
.btn-like:active {
    color: #e84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* End of Codestar Blog's CSS */
